body {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
}